@model IEnumerable<Domains.Entities.Product>

        @foreach (var item in Model) {
            <tr>
                <td><img src="@Href($"~/Products/photo/{item.ProductId}")" /></td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductNumber)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-primary">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
