@model IEnumerable<Domains.Entities.Product>

@{
    ViewData["Title"] = "Index";
}

<partial name="_Titulo" />

<p>
    <a asp-action="Create">Añadir</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Foto</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td><img src="@Href($"~/Products/photo/{item.ProductId}")" /></td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.Name)</a>
</td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNumber)
            </td>
           <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-primary">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
